<% content_for :title, "Edit comment" %>

<section class="bg-white rounded-lg border border-slate-200 shadow-sm p-4">
  <h1 class="text-xl font-semibold mb-4">Edit comment</h1>
  <%= render "form", comment: @comment %>
</section>
